<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <localRepository>${user.home}/.m2/repository</localRepository>  

    <mirrors>
        <mirror>
            <id>ibiblio.org</id>
            <name>ibiblio Mirror of http://repo1.maven.org/maven2/</name>
            <url>http://zpr.zingat.com/repository/maven-public/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>zingat-artifactory</id>
            <repositories>
                <repository>
                    <id>zingat_release_repo</id>
                    <url>http://zpr.zingat.com/repository/maven-public/</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>zingat_plugin_repo</id>
                    <url>http://zpr.zingat.com/repository/maven-public/</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>zingat-artifactory</activeProfile>
    </activeProfiles>

</settings>
